# Ignore virtual environment
.venv/

# Ignore node_modules of frontend
frontend/node_modules/

# Ignore Python cache
__pycache__/

#redis server ke file
*.rdb
*.aof

# extra
desktop.ini
Project Report_ Quiz Master.pdf:Zone.Identifier
celerybeat-schedule